.#*
.*#
.*.sw*
*.iml
*.apk
*.orig
build.xml
local.properties

private/
generated/

.target/
target/

.gradle

.idea
.gradle
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml


.idea/codeStyles/Project.xml
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/app.iml
.idea/inspectionProfiles/Project_Default.xml
